{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<h1>Welcome, {{name}}!</h1>
<a href="www.google.com">not google</a>
<ul>
  {% for city in city_names %}
  <li>{{city}}</li>
  {% endfor %}
</ul>

<form action="" method="POST">
  <label>City Name</label>
  <div><input id="user_input" name="user_input" maxlength="32" /></div>
  <p><button type="submit">Submit</button></p>
</form>
